.container {
  margin: 5 auto;
  position: center;
  font-family: arial;

  h1 {
    font-weight: 400;
    font-size: 35px;
    padding-top: 30px;
    color: #707070;
    text-align: center;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    justify-content: center;
  }
}
