.global-card {
  overflow: hidden;
  background: white;
  box-shadow: 4px 3px 15px rgba(0,0,0,0.1);
  height: auto;
  border: 1px solid lightgray;
  display: flex;
  padding: 50px;
  margin-bottom: 80px;
  border-radius: 19px;
  flex-direction: column;
  justify-content: center;
}
