<div>
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:pt-8 pb-4 lg:px-8 lg:items-center lg:justify-between">
    <h1 class="title">Quittance de loyer</h1>
  </div>
  <div class="text-center max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:pt-8 pb-4 lg:px-8x lg:items-center lg:justify-between">
    <%= link_to "Télécharger", receipt_path(@receipt, format: "pdf"), target: :blank, class: "btn-1" %>
  </div>
</div>
